/*
t1: #283848
t2: #53606D
t3: #7E8892
t4: #A9B0B6
t5: #D4D8DB
*/

body{
  background-color: #283848;
  font-family: sans-serif;
  margin: 0;
}
body:active, .event:active, .event:hover{
  cursor: ew-resize;
}
.event{
  background-color: white;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 .4em;
  border-radius: 2px;
  width: 150px;
}
.event:hover{
  background-color: #A9B0B6;
}
.event:active{
  background-color: #53606D;
}
#mouse-position{
  position: fixed;
  color: #D4D8DB;
}
.resizable{
  resize: both;
  display: inline-block;
  height: 1.5em;
  width: 150px;
  background-color: #A9B0B6;
}